body {
    margin: 0;
    padding: 0;
    font-family: 'Futura PT', sans-serif;
    background-color: #FAF4EA;
}

/*** NAVBAR ***/
nav {
    z-index: 5;
    padding: 2rem 1rem;
    position: relative;
}

.nav-logo {
    width: 10rem;
    height: auto;
}
@media only screen and (max-width: 1050px) {
    .nav-logo {
        width: 7.5rem;
    }
}

/*** HERO ***/
.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.hero-left {
    background-color: #465230;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
}

.hero-right {
    background-image: url("./assets/location_in.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 5000px 0 0 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
}

.hero-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
}

.hero-front > .img-container {
    background-image: url("./assets/location_out.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset -200px 0px 150px 0 rgba(0, 0, 0, .5);
    position: absolute;
    bottom: -5rem;
    left: 1rem;
    aspect-ratio: 1 / 1;
    width: 50%;
}

.hero-front > .content {
    position: absolute;
    top: 45%;
    color: #FAF4EA;
    width: fit-content;
    left: 45%;
}
.hero-front > .content > h1 {
    font-size: 5rem;
    margin: 2rem 0;
    font-weight: 500;
}
.hero-front > .content > h3 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 400;
}

.hero-front > .position-container {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    width: 45%;
    align-self: flex-end;
    color: #414241;
    font-size: 1.3rem;
    position: absolute;
    bottom: -3rem;
    right: 0;
}
.hero-front > .position-container > i {
    font-size: 0.8rem;
}
.hero-front > .position-container > h6 {
    font-weight: 500;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    .hero-front > .content > h1 {
        font-size: 4rem;
    }
    .hero-front > .content > h3 {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 900px) {
    .hero {
        height: 75vh;
    }
    .hero-front {
        height: 75vh;
    }
    .hero-front > .content > h1 {
        font-size: 3.25rem;
    }
    .hero-front > .content > h3 {
        font-size: 1.75rem;
    }
}
@media only screen and (max-width: 800px) {
    .hero {
        height: 60vh;
    }
    .hero-front {
        height: 60vh;
    }
    .hero-front > .content > h1 {
        font-size: 3rem;
    }
    .hero-front > .content > h3 {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 650px) {
    .hero {
        height: 90vh;
    }
    .hero-front {
        height: 90vh;
    }
    .hero-front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-front > .img-container {
        position: relative;
        width: 90%;
        padding: 1rem 0;
        margin: 0;
        aspect-ratio: 1.25 / 1;
        top: 3rem;
        left: 0;
    }
    .hero-front > .content {
        position: relative;
        margin: 0;
        top: 4rem;
        left: 1rem;
        padding: 0;
        width: 90%;
    }
    .hero-front > .content > h1 {
        font-size: 3rem;
        margin: 1rem 0;
    }
    .hero-front > .content > h3 {
        font-size: 1.25rem;
    }
    .hero-front > .position-container {
        display: none;
    }

}

/*** BEST CO§URSES ***/
.best-courses {
    display: flex;
    flex-direction: column;
    margin-top: calc(100vh + 5rem);
    margin-bottom: 5rem;
    color: #414241;
    align-items: center;
    padding: 0 1rem;
    row-gap: 7.5rem;
}

.best-courses > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.best-courses > h2 > span {
    display: block;
    margin-right: 1.5rem;
    width: 1rem;
    height: 0.25rem;
    background-color: #414241;
}
.best-courses > h2 > span:nth-child(2) {
    margin-right: 0;
    margin-left: 1.5rem;
}

.best-courses > div:nth-child(2) {
    margin-top: -5rem;
}
.best-courses > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.best-courses > div:nth-child(3) > img {
    grid-column: 2;
    grid-row: 1;
}
.best-courses > div:nth-child(3) > p {
    grid-column: 1;
    grid-row: 1;
}

.best-courses > div > img {
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0px 15px 25px 0px #414241;
}
.best-courses > div > p {
    width: 70%;
    height: auto;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    font-size: large;
    line-height: 1.75rem;
}

@media only screen and (max-width: 900px) {
    .best-courses {
        margin-top: calc(75vh + 5rem);
    }
    .best-courses > div {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
}
@media only screen and (max-width: 800px) {
    .best-courses {
        margin-top: calc(60vh + 5rem);
    }
    .best-courses > h2 {
        font-size: 1.25rem;
    }
}
@media only screen and (max-width: 650px) {
    .best-courses {
        margin-top: calc(90vh + 0rem);
    }
    .best-courses > div > img {
        width: 90%;
    }
    .best-courses > div > p {
        width: 90%;
        font-size: medium;
    }
}

span.line {
    display: block;
    margin: auto;
    width: 75vw;
    height: .05rem;
    background-color: #414241;
}

/*** BUTTONS ***/
.buttons-container {
    display: flex;
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
    padding: 0 1rem;
}

.buttons-container > button {
    width: 25%;
    height: 4rem;
    color: #FAF4EA;
    font-size: 1.25rem;
    background-color: #465230;
    border: none;
    outline: none;
    transition: all ease 0.3s;
    border: solid 2px #465230;
}
.buttons-container > button:nth-child(2) {
    color: #465230;
    background-color: #FAF4EA;
}
.buttons-container > button:hover {
    color: #465230;
    background-color: #FAF4EA;
}
.buttons-container > button:nth-child(2):hover {
    color: #FAF4EA;
    background-color: #465230;
}

@media only screen and (max-width: 650px) {
    .buttons-container {
        flex-direction: column;
        row-gap: 2rem;
        margin: 5rem 0;
    }
    .buttons-container > button {
        width: 50%;
        font-size: 1rem;
    }
}

/*** FOOTER ***/
footer {
    padding: 0 1rem;
    height: 10rem;
    background-color: #575F64;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FAF4EA;
    column-gap: 5rem;

}
footer > h1 {
    margin: 0;
    width: fit-content;
}
footer > div {
    margin: 0;
    display: flex;
    column-gap: 1rem;
    font-weight: 100;
    font-size: large;
    justify-content: center;
    align-items: center;
}
footer > p {
    width: fit-content;
}

@media only screen and (max-width: 1050px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    footer > h1 {
        font-size: 1.25rem;
        margin: 0;
        margin-bottom: 1rem;
    }
    footer > div {
        display: block;
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    footer > p {
        margin: 0.5rem 0;
    }
}
@media only screen and (max-width: 650px) {
    footer > h1 {
        margin-bottom: 0.5rem;
    }
}