body {
    background-color: #465230;
    color: #FAF4EA;
}

section.menu {
    padding: 0 3rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

section.menu > h1 {
    font-size: 2rem;
}

section.menu > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}
section.menu > div > div > ul {
    margin-left: 0rem;
    margin-right: 5rem;
}
section.menu > div > div > ul > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: .75rem;
}
section.menu > div > div > ul > li > p {
    margin: 0;
}

/* TO-DO: ridurre grid a una sola colonna per schermi piccoli*/