body {
    color: #414241;
}

nav {
    background-color: #575F64;
}

section.orari {
    padding: 0 3rem;
    margin-top: 11rem;
    margin-bottom: 11rem;
    align-items: center;
    justify-content: justify;
}

section.orari > h1 {
    font-size: 2rem;
}

caption {
    display: none;
}

.table {
    width: 100%;
    text-align: center;
    justify-content: center;
    border: thin solid #575f6485;
    border-style: dashed;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table thead tr th {
    color:#FAF4EA;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
}

.table tbody tr td {
    font-size: 1rem;
    font-weight: lighter;
}

.table tbody tr th {
    font-weight: bold;
}

.table tfoot tr th {
    font-weight: bold;
}

.table tfoot tr td {
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

p1 a {
    color:#414241;
}

thead {
    width: 100%;
    background-color: #465230b5;
}

tbody, tfoot {
    width: 100%;
    background-color: #4652303a;
}

