body {
    background-color: #FAF4EA;
    color: #414241;
}

nav {
    background-color: #575F64;
}

section.prenota {
    padding: 0 3rem;
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

section.prenota > h1 {
    font-size: 2rem;
}

main {
    width: 50%;
    float: inline-start;
    overflow: hidden;
    margin-bottom: 6rem;
    justify-content: justify;
}

aside {
    width: 50%;
    float: inline-end;
    overflow: hidden;
    margin-bottom: 6rem;
    justify-content: justify;
}

footer {
    width: 98%;
}


/* 1050px and down */
@media only screen and (max-width: 1050px) {
    section.prenota {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}