body {
    color: #414241;
}

nav {
    background-color: #575F64;
}

section.prenota {
    padding: 0 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

section.prenota > h1 {
    font-size: 2rem;
}