body {
    color: #414241;
}

nav {
    background-color: #575F64;
}

section.prenota {
    padding: 0 5rem;
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

section.prenota > h1 {
    font-size: 2rem;
}

main {
    width: 49%;
    float: left;
    overflow: hidden;
    margin-bottom: 6rem;
    justify-content: justify;
}

aside {
    width: 49%;
    float: right;
    overflow: hidden;
    margin-bottom: 6rem;
    justify-content: justify;
}

footer {
    width: 98%;
}