body {
    background-color: #FAF4EA;
    color: #465230; 
}

nav {
    background-color: #465230;
    color: #FAF4EA;
}

section.salvataggio {
    padding: 0 4rem;
    margin-top: 12rem;
    margin-bottom: 14rem;
    align-items: center;
    justify-content: center;
}

section.salvataggio > h1 {
    font-size: 2rem;
    font-weight: bold;
}

p1 a {
    color:#414241
}

footer {
    background-color: #465230;
    color: #FAF4EA;
}